
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    text-align: center;
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
    margin-top: 10px;
    min-height: 90px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#conteiner{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}
.ui-state-default .icon-altera{
    background-image: url(../images/altera_32x32.png);
    
    
}.ui-state-default .icon-deletar{
    background-image: url(../images/deleta_32x32.png);
    
    
}.ui-state-default .icon-excluir{
    background-image: url(../images/excluir_32x32.png);
    
    
}.ui-state-default .icon-incluir{
    background-image: url(../images/incluir_32x32.png);
    
    
}
.ui-state-default .icon-salvar{
    background-image: url(../images/salvar_32x32.png);
    
    
}